@charset "utf-8";

#address{width: 800px; margin: 50px auto; }
#address table{border-collapse: collapse; border: 1px solid #ddd; margin: 0 auto;width: 800px;}
#address table td,
#address table th{border: 1px solid #ddd; padding: 5px;}
#address table td{border: 1px solid #ddd;}

a{text-decoration: none; color: #ccc;}